<div class="section">
  <div class="row justify-content-between">
    <div class="col d-flex justify-content-between">
      <h2>{{title}}</h2>
    <a class="close-icon" (click)="backToUsers()">Back</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form class="form" [formGroup]="createUserForm" (ngSubmit)="onSave()">
        <div class="row">
          <div class="col-auto">
            <div class="form__field">
              <label class="form__label"> First Name <span>*</span></label>
              <input class="form__input" type="text" placeholder="" value="" [readonly]="mode === 'View'" formControlName="firstName">
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.firstName">
                  <div class="error-message"
                       *ngIf="createUserForm.get('firstName').hasError(error.type) && (createUserForm.get('firstName').dirty || createUserForm.get('firstName').touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <div class="form__field">
              <label class="form__label"> Last Name <span>*</span></label>
              <input class="form__input" type="text" placeholder="" [readonly]="mode === 'View'" value="" formControlName="lastName">
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.lastName">
                  <div class="error-message"
                       *ngIf="createUserForm.get('lastName').hasError(error.type) && (createUserForm.get('lastName').dirty || createUserForm.get('lastName').touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <div class="form__field">
              <label class="form__label">Email <span>*</span></label>
              <input class="form__input" type="text" placeholder="" [readonly]="mode === 'View'" value="" formControlName="email">
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.email">
                  <div class="error-message"
                       *ngIf="createUserForm.get('email').hasError(error.type) && (createUserForm.get('email').dirty || createUserForm.get('email').touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <div class="form__field">
              <label class="form__label">Gender <span>*</span></label>
              <input class="form__input" type="text" placeholder="" [readonly]="mode === 'View'" value="" formControlName="gender">
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.gender">
                  <div class="error-message"
                       *ngIf="createUserForm.get('gender').hasError(error.type) && (createUserForm.get('gender').dirty || createUserForm.get('gender').touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <div class="form__field">
              <label class="form__label">Age <span>*</span></label>
              <input class="form__input" type="number" placeholder="" [readonly]="mode === 'View'" value="" formControlName="age">
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.age">
                  <div class="error-message"
                       *ngIf="createUserForm.get('age').hasError(error.type) && (createUserForm.get('age').dirty || createUserForm.get('age').touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="mode !== 'View'">
          <div class="col">
            <button class="button form__submit" type="submit">
              <span class="button__text">Save</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
