<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
<h2 class="h2"> users</h2>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary"
              (click)="navigateToUser()" >Create User
      </button>
    </div>
  </div>
</div>
<app-data-table [headers]="userHeaders" [data]="users" [disableRowClick]="true" (editClicked)="editClicked($event)" (deleteClicked)="deleteClicked($event)"
(viewClicked)="viewClicked($event)" [rowActions]="{edit: true, view: true, delete: true}"></app-data-table>
